<h2 mat-dialog-title>{{data.isNew ? 'Créer' : 'Modifier'}} une tâche</h2>
<mat-dialog-content>
  <form #taskForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Titre</mat-label>
      <input matInput [(ngModel)]="data.task.title" name="title" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.task.description" name="description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date d'échéance</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.task.dueDate" name="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Statut</mat-label>
      <mat-select [(ngModel)]="data.task.status" name="status" required>
        <mat-option value="TODO">À faire</mat-option>
        <mat-option value="IN_PROGRESS">En cours</mat-option>
        <mat-option value="DONE">Terminé</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn"(click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!taskForm.form.valid">Valider</button>
</mat-dialog-actions>